[Unit]
Description=cer_webapp
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=$USER
WorkingDirectory=/home/ubuntu/p1_computacion/flaskr
ExecStart=/usr/bin/mongod --config /etc/mongod.conf 
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
