{% extends 'base.html' %}

{% block header %}
  <h1>Valor medio</h1>
{% endblock %}
{% block subheader %}
  <h2>BBDD: {{ database  }}</h2>
{% endblock %}
{% block header_content %}
<button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
{% endblock %}
{% block content_head %}
<h1>Valor medio de clics en la BBDD</h1>
{%endblock%}
{% block content %}
<table cellspacing=10>
<tr>
	<td>Valor medio:</td>
	<td> {{media}} </td>
</tr>
<tr>
	<td>Tamaño muestral:</td>
	<td>{{ counter }}</td>
</tr>
</table>
{%endblock%}
{% block formulario %}
  <form action={{ url_for('umbral_historico') }} method="post">
                <label for="umbral">Umbral histórico: </label>
                <input name="umbral" id="umbral" size="4">
                <input type="submit" value="Enviar"> <br>
        </form><br>
        <form action={{ url_for('valor_medio') }} method="post">
                <input type="submit" value="Valor Medio">
        </form>
{% endblock %}

